/* CUSTOM VARIABLES */
/* GLOBAL */
/* LOGIN */
/* DIAGRAM */
/* HOME PAGE */
/* MENU LEFT */
/* MAIN MENU */
/* SUB MENU */
/* PAGE TAB */
/* DROPDOWN NOTIFICATIONS */
/* SOCIAL */
/* LIST BOX */
/* PROPERTIES GROUP */
/* BUTTONS */
/* PAGE ACTIONS */
/* ACCORDIONS */
/* DISCUSSIONS */
/* WORLD MAP */
/* USER ZONE */
/* POPUP */
/* BADGES */
/* TASKS & NOTIFICATIONS */
/* GLOBAL SEARCH */
/* TOP BAR */
/* DIAGRAM TILE */
/* MATRIX ADVANCED */
/* DIAGRAM OVERLAY */
.cwPivotToolBoxButton {
  z-index: 100;
  top: 0px;
  background-color: transparent;
}
.homePage_evolveView .cwPivotWrapper {
  padding: 0rem;
  height: 100%;
}
.homePage_evolveView .cwPivotWrapper .cwPivotToolBox {
  display: none;
}
.homePage_evolveView .cwPivotWrapper .cwPivotTable {
  height: 100%;
  margin-bottom: 0rem;
}
.homePage_evolveView .cwPivotWrapper .cwPivotTable table.pvtUi tbody > tr {
  height: 0px;
}
.cwPivotTitle {
  text-align: center;
  color: #03a0ce;
  font-size: 1.5rem;
  font-weight: bold;
}
.cwPivotHomeTitle {
  display: none;
}
.cwPivotToolBox {
  height: 50px;
  margin-left: 7px;
  display: flex;
  justify-content: space-between;
}
.cwPivotToolBox .btn,
.cwPivotToolBox .k-button {
  background-color: #5c5d61;
  color: #ffffff;
}
.cwPivotToolBox .btn.selected,
.cwPivotToolBox .k-button.selected {
  background-color: #03a0ce;
  color: #ffffff;
}
.cwPivotTable {
  margin-bottom: 1.25rem;
}
.cwPivotTable table.pvtUi {
  table-layout: fixed;
  height: 100%;
}
.cwPivotTable table.pvtUi tbody > tr {
  height: 27px;
}
.cwPivotTable table.pvtUi .pvtAxisContainer.pvtUnused.pvtUiCell.pvtVertList {
  overflow: auto;
}
.cwPivotTable table.pvtUi .pvtAxisContainer.pvtRows.pvtUiCell {
  overflow: auto;
}
.cwPivotTable .pvtFilterBox .pvtCheckContainer label {
  display: flex;
}
.cwPivotTable td.pvtRendererArea .valueWrapper {
  overflow-x: auto;
  overflow-y: auto;
  height: 100%;
}
.cwPivotTable .pvtRenderer {
  display: block;
}
.cwPivotTable .cw-hiddenByVisibility {
  visibility: hidden;
  background-color: transparent;
  border: none;
}
.cwPivotTable .pvtUiCell .pvtRenderer,
.cwPivotTable .pvtUiCell .pvtAttrDropdown,
.cwPivotTable .pvtUiCell .pvtAggregator {
  height: initial;
}
.cwPivotTable .g-gtitle {
  visibility: hidden;
}
.cwPivotTable.vertical .pvtAxisContainer.pvtUnused {
  display: flex;
  flex-wrap: wrap;
}
.cwPivotToolBoxButton .pvtAxisContainer,
.pvtVals {
  background-color: rgba(55, 131, 154, 0.1);
  border-color: #26276d;
  border-width: 2px;
  border-style: solid;
}
.pvtRenderer,
.pvtAggregator,
.pvtAttrDropdown {
  padding: 5px;
  height: 100%;
  color: #5c5d61;
  font-size: 12px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
}
.pvtFilterBox button {
  -webkit-text-size-adjust: 100%;
  border: 1px solid #dedede;
  padding: 2px 5px;
  white-space: nowrap;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 2px;
}
.pvtAxisContainer li span.pvtAttr {
  color: #26276d;
  background-color: #ffffff;
}
.pvtAxisContainer li span.pvtAttr .pvtTriangle {
  color: #26276d;
}
.pvtFilterBox p > button:first-child {
  color: rgba(55, 131, 154, 0.1);
  border-color: #e45200;
  background-color: #ff6b18;
}
.pvtRendererArea {
  padding: 0px;
}
table.pvtTable thead tr th,
table.pvtTable tbody tr th {
  background-color: rgba(55, 131, 154, 0.1);
  border-style: solid;
  color: #26276d;
  border-width: 1px;
  border-color: #9ba8af;
  color: #5c5d61;
  font-weight: normal;
}
.pivotAddButton {
  position: absolute;
  right: 15px;
  top: 12px;
  color: #76cf76 !important;
}
table.pvtTable thead th.pvtAxisLabel {
  background-color: #03a0ce;
  color: #ffffff;
}
.pvtAxisContainer,
.pvtVals.pvtUiCell {
  border-radius: 4px;
}
/* boites d'analyse des axes et filtre*/
.pvtAxisContainer,
.pvtVals {
  border-color: #9ba8af;
  border-width: 1px;
  border-style: dashed;
}
