/* CUSTOM VARIABLES */
/* GLOBAL */
/* LOGIN */
/* DIAGRAM */
/* HOME PAGE */
/* MENU LEFT */
/* MAIN MENU */
/* SUB MENU */
/* PAGE TAB */
/* DROPDOWN NOTIFICATIONS */
/* SOCIAL */
/* LIST BOX */
/* PROPERTIES GROUP */
/* BUTTONS */
/* PAGE ACTIONS */
/* ACCORDIONS */
/* DISCUSSIONS */
/* WORLD MAP */
/* USER ZONE */
/* POPUP */
/* BADGES */
/* TASKS & NOTIFICATIONS */
/* GLOBAL SEARCH */
/* TOP BAR */
/* DIAGRAM TILE */
/* MATRIX ADVANCED */
/* DIAGRAM OVERLAY */
.tab-content.visible {
  margin-left: unset;
}
.tab-content {
  margin-left: 100%;
}
.cwPivotToolBoxButton {
  z-index: 100;
  top: 0px;
  background-color: transparent;
}
.homePage_evolveView .cwPivotWrapper {
  padding: 0rem;
  height: 100%;
}
.homePage_evolveView .cwPivotWrapper .cwPivotToolBox {
  display: none;
}
.homePage_evolveView .cwPivotWrapper .cwPivotTable {
  height: 100%;
  margin-bottom: 0rem;
}
.homePage_evolveView .cwPivotWrapper.noUi .cwPivotTable table.pvtUi tbody > tr {
  height: 1px;
}
.cwPivotTitle {
  text-align: center;
  color: #03a0ce;
  font-size: 1.5rem;
  font-weight: bold;
}
.cwPivotHomeTitle {
  display: none;
}
.cwPivotToolBox {
  height: 50px;
  margin-left: 7px;
  display: flex;
  justify-content: space-between;
}
.cwPivotToolBox .btn,
.cwPivotToolBox .k-button {
  background-color: #5c5d61;
  color: #ffffff;
}
.cwPivotToolBox .btn.selected,
.cwPivotToolBox .k-button.selected {
  background-color: #03a0ce;
  color: #ffffff;
}
.cwPivotTable table.pvtUi {
  table-layout: fixed;
  height: 100%;
}
.cwPivotTable table.pvtUi tbody > tr {
  height: 27px;
}
.cwPivotTable table.pvtUi .pvtAxisContainer.pvtUnused.pvtUiCell.pvtVertList {
  overflow: auto;
}
.cwPivotTable table.pvtUi .pvtAxisContainer.pvtRows.pvtUiCell {
  overflow: auto;
}
.cwPivotTable table.pvtUi td.pvtAxisContainer {
  height: 100%;
}
.cwPivotTable table.pvtUi td.pvtAxisContainer .wrapperFiltered {
  height: 100%;
  overflow: auto;
}
.cwPivotTable .pvtFilterBox .pvtCheckContainer label {
  display: flex;
}
.cwPivotTable td.pvtRendererArea .valueWrapper {
  overflow-x: auto;
  overflow-y: auto;
  height: 100%;
}
.cwPivotTable .pvtRenderer {
  display: block;
}
.cwPivotTable .noBackground {
  background-color: transparent;
}
.cwPivotTable .cw-hiddenByVisibility {
  visibility: hidden;
  background-color: transparent;
  border: none;
  padding: 0px;
}
.cwPivotTable .cw-hiddenByVisibility select.pvtAggregator {
  padding: 0px;
  height: 0px;
}
.cwPivotTable .cw-hiddenByVisibility li {
  padding: 0px 0px;
  height: 0px;
}
.cwPivotTable .pvtUiCell .pvtRenderer,
.cwPivotTable .pvtUiCell .pvtAttrDropdown,
.cwPivotTable .pvtUiCell .pvtAggregator {
  height: initial;
}
.cwPivotTable .g-gtitle {
  visibility: hidden;
}
.cwPivotTable.vertical .pvtAxisContainer.pvtUnused {
  display: flex;
  flex-wrap: wrap;
}
.cwPivotToolBoxButton .pvtAxisContainer,
.pvtVals {
  background-color: rgba(55, 131, 154, 0.1);
  border-color: #26276d;
  border-width: 2px;
  border-style: solid;
}
.pvtRenderer,
.pvtAggregator,
.pvtAttrDropdown {
  padding: 5px;
  height: 100%;
  color: #5c5d61;
  font-size: 12px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
}
.pvtFilterBox button {
  -webkit-text-size-adjust: 100%;
  border: 1px solid #dedede;
  padding: 2px 5px;
  white-space: nowrap;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 2px;
}
.pvtAxisContainer li span.pvtAttr {
  color: #26276d;
  background-color: #ffffff;
}
.pvtAxisContainer li span.pvtAttr .pvtTriangle {
  color: #26276d;
}
.pvtFilterBox p > button:first-child {
  color: #fff;
  border-color: #e45200;
  background-color: #ff6b18;
}
.pvtRendererArea {
  padding: 0px;
}
table.pvtTable thead tr th,
table.pvtTable tbody tr th {
  background-color: rgba(55, 131, 154, 0.1);
  border-style: solid;
  color: #26276d;
  border-width: 1px;
  border-color: #9ba8af;
  color: #5c5d61;
  font-weight: normal;
}
.pivotAddButton {
  position: absolute;
  right: 15px;
  top: 12px;
  color: #76cf76 !important;
}
table.pvtTable thead th.pvtAxisLabel {
  background-color: #03a0ce;
  color: #ffffff;
}
.pvtAxisContainer,
.pvtVals.pvtUiCell {
  border-radius: 4px;
}
/* boites d'analyse des axes et filtre*/
.pvtAxisContainer,
.pvtVals {
  border-color: #9ba8af;
  border-width: 1px;
  border-style: dashed;
}
.pivotTableLoadingElement.fa.fa-circle-o-notch.fa-spin {
  font-size: 44px;
}
.pivotLoadingElementWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20000;
  height: 100%;
  width: 100%;
  top: -100%;
  color: #e91527;
  background-color: white;
}
.cwPivotTableExpertModeConfig div.cwPivotTableExpertModeContainerTab {
  display: flex;
}
.cwPivotTableExpertModeConfig div.cwPivotTableExpertModeTabs {
  margin: 5px;
  transition: box-shadow 0.3s;
  color: rgba(0, 0, 0, 0.8);
  display: block;
  height: 48px;
  line-height: 48px;
  padding: 0 1rem;
  box-shadow: inset 0 -2px #000000;
  cursor: pointer;
}
.cwPivotTableExpertModeConfig div.cwPivotTableExpertModeTabs.selected {
  box-shadow: inset 0 -2px #03a0ce;
}
.cwPivotTableExpertModeConfig .cwLayout_expertModeTableSelect {
  line-height: 0px;
}
.cwPivotTableExpertModeConfig .expertModeGroupTable td > input,
.cwPivotTableExpertModeConfig .expertModeGroupTable textarea {
  width: 100%;
}
.cwPivotTableExpertModeConfig div.rowFlex {
  margin: 5px 0px;
}
.cwPivotTableExpertModeConfig div.rowFlex div.row-cell {
  display: inline-block;
}
.cwPivotTableExpertModeConfig div.rowFlex div.row-cell-label {
  max-width: 400px;
  vertical-align: top;
  font-size: large;
  font-weight: 700;
  color: #03a0ce;
}
.cwPivotTableExpertModeConfig div.rowFlex div.row-cell-value-textarea {
  width: 80%;
}
.cwPivotTableExpertModeConfig div.rowFlex .tableTextInput input {
  width: 100%;
}
.cwPivotTableExpertModeConfig div.rowFlex .tableTextInput input {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border: 1px solid #cccccc;
  height: 34px;
}
.cwPivotTableExpertModeConfig div.rowFlex .noWhiteSpace {
  white-space: inherit;
}
.cwPivotTableExpertModeConfig div.rowFlex div.row-cell-value select {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border: 1px solid #cccccc;
  padding: 0px 5px;
  height: 30px;
  background-color: white;
}
.cwPivotTableExpertModeConfig div.rowFlex div.row-cell-value input {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border: 1px solid #cccccc;
  padding: 0px 5px;
  height: 30px;
  background-color: white;
}
.cwPivotTableExpertModeConfig div.rowFlex div.row-cell-value textarea {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border: 1px solid #cccccc;
  padding: 0px 5px;
  min-height: 30px;
  resize: vertical;
  background-color: white;
}
.cwPivotTableExpertModeConfig div.rowFlex div.row-cell-value.row-cell-max-width {
  width: 85%;
}
.cwPivotTableExpertModeConfig div.rowFlex div.row-cell-value.row-cell-max-width .fullWidthFilterTable {
  width: 100%;
}
.cwPivotTableExpertModeConfig div.rowFlex div.row-cell-value.row-cell-max-width .fullWidthFilterTable input {
  width: 95%;
}
.cwPivotTableExpertModeConfig div.rowFlex div.row-cell-value.row-cell-max-width .fullWidthFilterTable input.smallCell {
  width: 70px;
}
.cwPivotTableExpertModeConfig div.rowFlex div.row-cell-value.row-cell-max-width div.cell-content-wrapper {
  width: 100%;
  border: 1px solid #cccccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 0px 5px;
}
.cwPivotTableExpertModeConfig div.rowFlex div.row-cell-value.row-cell-max-width div.properties-wrapper {
  overflow: auto;
  max-height: 350px;
}
.cwPivotTableExpertModeConfig div.rowFlex div.row-cell-value.row-cell-max-width div.properties-wrapper input {
  vertical-align: middle;
  margin-right: 5px;
}
.cwPivotTableExpertModeConfig div.rowFlex div.row-cell-value.row-cell-max-width .filter-wrapper .filter-content {
  width: 180px;
}
.cwPivotTableExpertModeConfig div.rowFlex div.row-cell-value.row-cell-max-width .filter-wrapper .filter-value {
  width: 180px;
}
.cwPivotTableExpertModeConfig div.rowFlex div.row-cell-value.row-cell-max-width .filter-wrapper .filter-operator {
  width: 100px;
}
.cwPivotTableExpertModeConfig div.rowFlex div.row-cell-value.row-cell-max-width .filter-wrapper .filter-cell {
  margin: 5px;
  text-align: center;
  vertical-align: middle;
}
.cwPivotTableExpertModeConfig div.rowFlex div.row-cell-value.row-cell-max-width .filter-wrapper .filter-cell input[type="checkbox"] {
  margin: 0px;
}
.cwPivotTableExpertModeConfig div.rowFlex div.row-cell-value.row-cell-max-width .header-cell {
  text-align: center;
  font-weight: bold;
}
.cwPivotTableExpertModeConfig div.rowFlex .add-filter-button a.btn-add-filter {
  height: auto;
  width: auto;
  margin: 5px;
  color: #ffffff;
}
.cwPivotTableExpertModeConfig div.cwPropertiesTableContainer {
  width: 99%;
}
.cwPivotTableExpertModeConfig div.cwPropertiesTableContainer td.expertmode_table-buttonlist {
  white-space: inherit;
  width: 100%;
}
.cwPivotTableExpertModeConfig div.cwPropertiesTableContainer td.expertmode_table-buttonlist div {
  white-space: inherit;
  padding-bottom: 2px;
}
.cwPivotTableExpertModeConfig div.cwPropertiesTableContainer td.expertmode_table-buttonlist div a {
  width: 100%;
  display: inline-block;
  padding: 6px 2px;
  margin-bottom: 0;
  font-size: 11px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: inherit;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.cwPivotTableExpertModeConfig div.cwPropertiesTableContainer td.expertmode_table-buttonlist div a.selected {
  background-color: #03b4e7;
  border-color: #546e7a;
}
li[evolutionCount] {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
li[evolutionCount] .evolutionCount {
  border-right: 1px solid #ddd;
  width: 250px;
  flex: auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
li[evolutionCount] .evolutionCount .evolutionCountTitle {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: #5e514d;
  font-size: 24px;
  font-weight: bold;
  margin-right: 50px;
}
li[evolutionCount] .evolutionCount .evolutionCountNumber {
  font-size: 42px;
}
li[evolutionCount] .evolutionCount .evolutionCountProp {
  font-weight: bolder;
  margin-top: 1rem;
  display: flex;
  align-items: center;
}
li[evolutionCount] .evolutionCount .evolutionCountProp .evolutionCountUp {
  color: green;
  display: flex;
  align-items: center;
}
li[evolutionCount] .evolutionCount .evolutionCountProp .evolutionCountUp .fa {
  margin-left: 0.2rem;
}
li[evolutionCount] .evolutionCount .evolutionCountProp .evolutionCountStable {
  margin-left: 0.2rem;
  color: #7a7a7a;
  display: flex;
  align-items: center;
}
li[evolutionCount] .evolutionCount .evolutionCountProp .evolutionCountStable .fa {
  margin-left: 0.2rem;
}
li[evolutionCount] .evolutionCount .evolutionCountProp .evolutionCountDown {
  margin-left: 0.2rem;
  color: #7a0000;
  display: flex;
  align-items: center;
}
li[evolutionCount] .evolutionCount .evolutionCountProp .evolutionCountDown .fa {
  margin-left: 0.2rem;
}
ul[class*="full"] li[evolutionCount] {
  width: 12.5%;
}
.homePage_display_content .homePage_evolveView .cw-list li:last-child .evolutionCount {
  border-right: none;
}
