@import "../../_mixins";
@import "../../_variables";

.cwPivotToolBox {
	height: 50px;
	z-index: 100;
	top: 0px;
	background-color: #ffffff;
}

.cwPivotToolBoxWrapper {
	right: -12px;
	position: absolute;
}

.cwPivotToolBox .btn.selected {
	background-color: @cwTopBarProfileLinkHoverColor;
}

.cwPivotToolBox .k-button.selected {
	background-color: @cwTopBarProfileLinkHoverColor;
}


.cwLayoutNetworkToolBox .btn.selected{
    background-color: @cwTopBarProfileLinkHoverColor;
}