<div ng-controller="expertModeNodeConfig cw-diagram-popout-container" class="cw-visible view-container">
  <div class="cwPropertiesTableHeader CwPropertiesLayoutTableHeader" ng-if="ng.nodeID === undefined && ng.selectedStep === undefined">
    Please Select a Node or a Step to Configure
  </div>
  <div ng-if="ng.selectedNode !== undefined">
    <div class="cwPropertiesTableHeader CwPropertiesLayoutTableHeader">Node Configuration</div>
    <div class="cwPropertiesTableContainer">
      <table class="cwPropertiesTable">
        <tr>
          <th>Node ID :</th>
          <td class="cw-edit-property-value">{{ng.selectedNode.NodeID}}</td>
        </tr>
        <tr>
          <th>Complementary Node :</th>
          <td class="cw-edit-property-value">
            <input
              class="cw-edit-attr"
              ng-click="updateNodeCheck('complementaryNode',ng.selectedNode.NodeID)"
              ng-checked="ng.config.complementaryNode.indexOf(ng.selectedNode.NodeID) !== -1"
              type="checkbox"
            />
          </td>
        </tr>
        <tr>
          <th>Hidden Node :</th>
          <td class="cw-edit-property-value">
            <input
              class="cw-edit-attr"
              ng-click="updateNodeCheck('hiddenNodes',ng.selectedNode.NodeID)"
              ng-checked="ng.config.hiddenNodes.indexOf(ng.selectedNode.NodeID) !== -1"
              type="checkbox"
            />
          </td>
        </tr>
        <tr>
          <th>Cardinal Node:</th>
          <td class="cw-edit-property-value">
            <input
              class="cw-edit-attr"
              ng-click="updateNodeCheck('cardinalNodes',ng.selectedNode.NodeID)"
              ng-checked="ng.config.cardinalNodes.indexOf(ng.selectedNode.NodeID) !== -1"
              type="checkbox"
            />
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
